/*.trainer-card {
  position: relative;
  width: 100%;
  max-height: none;
}

.trainer-card h3 {
  margin: 0;
  position: absolute;
  bottom: 23px;
  left: 0;
  //font-family: $ff-roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  text-align: center;
  width: 100%;

  @include vp-1199 {
    margin-left: 5px;
  }
}
